<%- include('includes/header') %>

<div class="outer-padding">
  <div class="container-fluid p-1">
    <div class="text-center">
      <h2><b>Whoops!</b></h2>
      <h4><b>404 Page not found</b></h4>
      <br>
      <img src="/images/404.jpg" class='img-404'>
      <br><br>
      <p class="lead text-muted">It looks like the page doesn't exist. Please check the URL and try again.</p>
      <p class="lead text-muted">You can always visit the <a href="/">homepage</a> to get a fresh start.</p>
    </div> 
  </div>
</div>

<%- include('includes/footer') %>