<%- include('includes/header') %>

<div class="outer-padding">
    <div class="container p-1">

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-8">
                <%errors.forEach((error)=>{%>
                    <div class="alert alert-danger small text-center"><%=error%></div>
                <%})%>
            
                <%success.forEach((msg)=>{%>
                    <div class="alert alert-success small text-center"><%=msg%></div>
                <%})%>

                <div class="card card-registration my-4">
                    
                    <form action="/change-password" method="POST" class="card-body p-md-5 text-black">             
                        <h3 class="mb-5 text-uppercase heading"><b>Change your password</b></h3>

                        <div class="form-outline mb-4">
                            <input type="password" name='oldPass' id="oldPass" class="form-control form-control-lg"/>
                            <label class="form-label" for="oldPass">Old Password</label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" name='password' id="password" class="form-control form-control-lg"/>
                            <label class="form-label" for="password">New Password</label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" name='confirm' id="confirm" class="form-control form-control-lg"/>
                            <label class="form-label" for="confirm">Confirm New Password</label>
                        </div>

                        <div class="d-flex justify-content-end pt-3">
                            <button type="submit" class="btn btn-primary btn-lg ms-2 submit">Update</button>
                        </div>
                    </form>

                </div>
                
            </div>
        </div>

    </div>
</div>

<%- include('includes/footer') %>