.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    display: flex;
}    

.scroll-category{
    border-bottom: 1px solid grey;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.scrolling-wrapper a{
    padding: 0.25rem 1rem;
    width:auto;
}

.scroll-category a{
    color:grey;
}

.scroll-category a:active{
    color:black;
    background: rgb(248, 248, 248);
}

.scroll-sub-category a{
    border: 1px solid darkblue;
    border-radius: 20px;
    color: darkblue;
    margin-right: 10px;
}

.scroll-sub-category a:hover{
    background: darkblue;
    color:white;
}

.scroll-category .category{
    color:black;
    background: rgb(248, 248, 248);
}

.scroll-sub-category .sub-category{
    background: darkblue;
    color:white;
}

.search{
    width:500px;
    margin: auto;
}

.search button{
    background: darkblue;
    color:white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .search{width:80%;}
}

@media (max-width: 450px) {
    .search{width:100%;}
}

#loader,.reqInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    height:38vh;
}

.spinner-border{
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid darkblue;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0%   { transform: rotate(0deg);  }
    100% { transform: rotate(360deg);}
}

.product-card {
    box-shadow: 0 2px 7px #dfdfdf;
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
    width:16rem;
    border-radius:10px;
    margin:20px;
}

.product-thumb {
    display: flex;
    justify-content: center;
    background: white;
    position: relative;
}

.product-thumb .product-image{
    margin: 17px 0px;
    width: 85%;
    height: auto; 
}

.product-details {
    padding: 20px 30px;
}

.product-details h5 {
    font-size:1.1rem;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
    color: #363636;
    height: 2.4em;      
    overflow: hidden;
}

.product-details p {
    font-size: 15px;
    margin-bottom: 15px;
    color: #999;
    height: 1.3em;  
    overflow: hidden;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 15px;
}

.product-price {
    font-size: 18px;
    color: darkblue;
    font-weight: 600;
    margin-bottom: 15px;
    display: flex;
}

.product-price span{
    padding-top: 1px;
}

.price{
    padding-left: 15px;
}

.product-bottom-details .qty{
    text-align: center;
    color: darkblue;
}

.product-bottom-details .qty:focus{
    box-shadow: none;
}

.qty-ctrl{
    width: 100%;
}

.minus, .plus{
    color:white;
    width:40px;
    padding: 0;
    display: flex;
    justify-content: center;
    background: darkblue;
} 

.minus:focus, .plus:focus{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submit{
    background: darkblue;
    color: white;
    width: 100%;
    margin-top: 5px;
}

.submit:active{
    background: black;
}

.hidden{
    display: none !important;
}

.half-opacity{
    opacity: 0.65;
}

.notification{
    position: absolute;
    padding: 0.25rem 0.8rem !important;
    z-index: 9999;
    width: 98%;
    text-align: center;
    margin: 1%;
}

.cartQtyChange{
    height:20px;
    width:20px;
    border-radius: 50%;
    color:white;
    background: darkblue;
    text-align: center;
    line-height: 20px;
    font-weight: bolder;
    display: inline-block;
}

.cartQtyChangeMinus{
    padding-right: 0 !important;
    text-align: right
}

.cartQtyChangePlus{
    padding-left: 0 !important;
}

.cart-title{
    max-width: 150px
}

@media (max-width: 768px) {
    .product-card{width:12rem; margin: 15px;}
    .product-thumb .product-image{width:70%;}
    .product-details h5{font-size: 0.9rem; height: 2.3em; margin-bottom: 10px;}
    .product-details p{font-size: 14px;}
    .product-price{font-size: 14px; font-weight: 500;}
    .qty{height:auto; padding:2px; font-size: 0.8rem;}
    .submit{font-size: 0.75rem;}
    .minus, .plus{width:35px;}
    .scroll-category a{font-size: 15px;}
    .scroll-sub-category a{font-size: 14px;}
    .searchField{height:auto; font-size: small;}
    .search button{font-size: small;}
    .notification{font-size: small;}
    .top-rec{font-size: 1.5rem;}
}

@media (max-width: 992px) {
    .paypal, .emptyCart, .emptyCartDiv, .paypalForm, .crypto, .cryptoDiv{width: 80%; margin-left: 0 !important; margin-right: 0 !important;}
    .paypal, .crypto{margin-top: 8px;}
}

@media (max-width: 472px) {
    .paypal, .emptyCart, .emptyCartDiv, .paypalForm, .crypto, .cryptoDiv{width: 100%; margin-left: 0 !important; margin-right: 0 !important;}
}

@media (max-width: 340px) {
    .product-card{margin: 10px;}
    .product-thumb .product-image{width:60%; margin: 10px 0px;}
    .product-details h5{font-size: 0.8rem; height: 1.3em; margin-bottom: 9px;}
    .product-details p{font-size: 12px;}
    .product-price{font-size: 12px;}
    .qty{font-size: 0.75rem;}
    .submit{font-size: 0.7rem; margin-top: 1px;}
    .minus, .plus{width:30px;}
    .scroll-category a{font-size: 14px;}
    .scroll-sub-category a{font-size: 12px;}
    .searchField{font-size: 12px;}
    .search button{font-size: 12px;}
    .alert{font-size: 12px; padding:.5rem 1.25rem;}
    .top-rec{font-size: 1.2rem;}
}